body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .job-card {
    width: 350px;
    padding: 20px;
    background: linear-gradient(to bottom, #fff, #f9f9f9);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #f0f0f0;
  }
  
  .job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .job-mid{
    display: flex;
    gap: 5px;
    align-items: center;

  }
  .job-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .job-remote {
    font-size: 0.9rem;
    font-weight: bold;
    color: #22c55e;
    background-color: #e8fbe9;
    padding: 3px 8px;
    border-radius: 5px;
  }
  
  .job-salary {
    font-size: 0.9rem;
    color: #555;
    margin: 8px 0;
  }
  
  .job-footer {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .company-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .company-name {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }
  
  .company-location {
    font-size: 0.85rem;
    color: #777;
    margin: 0;
  }
  
  .bookmark-btn {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
}
.bookmark-btn img{
    height: 30px;
    width: 30px;
    color: #dfd5d5;

  }
  .bookmark-btn:hover {
    color: #333;
  }
  